#map{
    height: 100%;
    width: 100%;
}

.tooltip .tooltip-text {
    visibility: hidden;
    text-align: center;
    padding: 2px 6px;
    position: absolute;
    z-index: 100;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}
.selectize-control .selectize-dropdown > div {
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.selectize-control .selectize-dropdown .by {
    font-size: 11px;
    opacity: 0.8;
}

    .selectize-control .selectize-dropdown .by::before {
        content: 'by ';
    }

.selectize-control .selectize-dropdown .name {
    font-weight: bold;
    margin-right: 5px;
}

.selectize-control .selectize-dropdown .title {
    display: block;
}

.selectize-control .selectize-dropdown .description {
    font-size: 12px;
    display: block;
    color: #a0a0a0;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.selectize-control .selectize-dropdown .meta {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

    .selectize-control .selectize-dropdown .meta li {
        margin: 0;
        padding: 0;
        display: inline;
        margin-right: 10px;
    }

        .selectize-control .selectize-dropdown .meta li span {
            font-weight: bold;
        }

.selectize-control::before {
    -moz-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    content: ' ';
    z-index: 2;
    position: absolute;
    display: block;
    top: 12px;
    right: 34px;
    width: 16px;
    height: 16px;
    background: url(images/spinner.gif);
    background-size: 16px 16px;
    opacity: 0;
}

.selectize-control.loading::before {
    opacity: 0.4;
}

.selectize-control .selectize-input {
    background-color: #edf2f7 !important;
    padding: 12px !important;
    box-shadow: none !important;
    background-image: none !important;
    border: none !important;
}

    .selectize-control .selectize-input .item,
    .selectize-control .selectize-input input
    {
        color: #4a5568 !important;
        line-height: 1.25 !important;
        font-size: 1rem !important;
    }

/* needed for selectize select forced value without search result */
#searchAddresses-selectized{
    width: 100% !important;
}