body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden !important;
}

.modal {
    transition: opacity 0.25s ease;
}

a {
    border-bottom: 1px steelblue dashed;
    color: steelblue;
    cursor: pointer;
}

ol, ul {
    list-style: inherit !important;
}

    ul li {
        padding: 4px;
        margin-left: 10px;
    }

body .modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
}

main {
    flex: 1;
}

.list-inside{
    list-style-position: inside !important;
}

.leaflet-top .leaflet-control {
    margin-top: 30px !important;
}

#map {
    height: 100%;
    width: 100%;
    min-height: 400px;
}

.tooltip .tooltip-text {
    visibility: hidden;
    text-align: center;
    padding: 2px 6px;
    position: absolute;
    z-index: 100;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

.selectize-control .selectize-dropdown > div {
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.selectize-control .selectize-dropdown .by {
    font-size: 11px;
    opacity: 0.8;
}

    .selectize-control .selectize-dropdown .by::before {
        content: 'by ';
    }

.selectize-control .selectize-dropdown .name {
    font-weight: bold;
    margin-right: 5px;
}

.selectize-control.single .selectize-input:after {
    display: none !important;
}

.selectize-control .selectize-dropdown .title {
    display: block;
}

.selectize-control .selectize-dropdown .description {
    font-size: 12px;
    display: block;
    color: #a0a0a0;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.selectize-control .selectize-dropdown .meta {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

    .selectize-control .selectize-dropdown .meta li {
        margin: 0;
        padding: 0;
        display: inline;
        margin-right: 10px;
    }

        .selectize-control .selectize-dropdown .meta li span {
            font-weight: bold;
        }

.selectize-control::before {
    -moz-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    content: ' ';
    z-index: 2;
    position: absolute;
    display: block;
    top: 12px;
    right: 34px;
    width: 16px;
    height: 16px;
    background: url(images/spinner.gif);
    background-size: 16px 16px;
    opacity: 0;
}

.selectize-control.loading::before {
    opacity: 0.4;
}

.selectize-control .selectize-input {
    background-color: #edf2f7 !important;
    padding: 12px !important;
    box-shadow: none !important;
    background-image: none !important;
    border: none !important;
}

    .selectize-control .selectize-input .item,
    .selectize-control .selectize-input input {
        color: #4a5568 !important;
        line-height: 1.25 !important;
        font-size: 1rem !important;
    }

/* needed for selectize select forced value without search result */
#searchAddresses-selectized {
    width: 100% !important;
}

.self-center {
    margin: 0 auto;
}

#scrollTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 18px;
}

    #scrollTopButton:hover {
        background-color: #373737;
    }

a {
    background-color: inherit !important;
}
